In [ ]:
import pandas as pd
pd.set_option('display.max_columns', None)
import numpy as np
#from sklearn.preprocessing import OneHotEncoder
from statistics import mean

In [ ]:
data = pd.read_csv('final_modifica2.csv')

In [ ]:
#data.head(10)

## Preprocessing

#### One-hot-encoding categorical data ('type' and 'use' columns):

In [ ]:
one_hot_encoded_data = pd.get_dummies(data, columns = ['type','use']) #It also automatically removes the original columns

In [ ]:
#one_hot_encoded_data.head(10)

#### Change abv and degree (remove the tilde) --> if for example I find degree = 16~18, I replace it with the mean of 16 and 18

In [ ]:
data[['abv', 'degree']] = data[['abv','degree']].fillna('0') #This comes in handy when applying the following function to avoid errors

In [ ]:
data['degree']=data['degree'].astype('string')
data['abv']=data['abv'].astype('string')

In [ ]:
def remove_tilde(row):

    if "~" in row:
        x = row.split("~")
        x_int = [float(i) for i in x]
        row = mean(x_int)
    
    return row

In [ ]:
data['degree'] = data.apply(lambda row: remove_tilde(row['degree']), axis=1)
data['abv'] = data.apply(lambda row: remove_tilde(row['abv']), axis=1)

In [ ]:
data['degree']=data['degree'].astype('float')
data['abv']=data['abv'].astype('float')

In [18]:
## CHECK WHICH WINES HAVE 0 AS VALUE FOR ABV ##

#data.loc[data['abv'] == 0] #32 vini

## AND THEN COLLECT THEM BY HAND LIKE A BOSS ##

32

In [19]:
abv_missing = [15,14,13,14.5,13.5,14,13.5,14,14,14,15,15.5,14,13.5,14.5,13,14.5,14.5,14,13.5,13,13.5,14,14,13.5,12.5,14,13,13,13.5,14.5,0] 
i_abv = 0
def fix_abv(row): #Per aggiustare i valori di ABV
    
    global i_abv ### QUA MODIFICA LA VARIABILE GLOBALE quindi se fate attenzione se dovete riutilizzare la funzione
    if row==0:
        row = abv_missing[i_abv]
        i_abv += 1
    return row

In [20]:
#len(abv_missing)

32

In [21]:

data['abv'] = data.apply(lambda row: fix_abv(row['abv']), axis=1)

In [23]:
data.loc[data['abv'] == 0] #Noterete che manca il vino numero 143 il cui ABV è introvabile

,Unnamed: 0,id,name,producer,nation,local1,type,use,abv,degree,sweet,acidity,body,tannin,price,year,ml,latitudine,longitudine,cec,cfvo,clay,nitrogen,phh2o,sand,silt,tempmax,tempmin,temp,dew,humidity,precip,windspeed,solarradiation,solarenergy,uvindex,score
143,143,154056,"Soprano, Rosso Sweet",Soprano,Italy,NaN,Red,Table,0.0,0.0,4,1,4,2,0,2019,750,43.541129,7.953705,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.5615,16.8555,19.5475,13.8855,71.316,241.73,19.216,211.753,18.2855,7.39,3.1

Bisognerebbe fare lo stesso procedimento per il degree che (*drum roll*) è la cristo di temperatura consigliata per bere il vino ed è un po' più difficile da trovare (mancano 33 records)

In [ ]:
#data.loc[data['degree'] == 0] #33 vini

### - There are a few wines with year = 0 (what to do with them?)
### - Also a few NaN regarding "solarradiation" and "solarenergy" which I'm not too sure how to handle